@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Homemade+Apple");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One");
@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: Open Sans, sans-serif;
}

.today-button {
  border: solid black .1em;
  border-radius: .5em;
  margin: 0px .5em;
}

.daily-question {
  background-color: #77D4E7;
  padding: 20px;
  text-align: center;
}

.flash {
  background-color: #F38630;
  color: white;
  padding: .5em;
}

.page-body {
  margin: 1.5em;
}

.save-answer, .fa-pencil, .delete-image {
  background-color: #F38630;
  border-radius: .5em;
  border-bottom: solid #DB792B .3em;
  padding: .5em;
  margin: .5em;
  color: white;
}

.save-answer:hover, .fa-pencil:hover, .delete-image:hover {
  background-color: #DB792B;
  border-bottom: solid #CB7028 .3em;
}

.save-answer:focus, .edit-answer:focus {
  outline: none;
}

.fa {
  padding: .5em;
}

li {
  list-style: none;
}

.datepicker-days {
  height: 100px;
}

.day-tile {
  background-color: #77D4E7;
  padding: 1.1em;
  border-radius: 1em;
  border: solid white .3em;
  height: 8em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Julius Sans One;
  font-weight: 700;
}

.day-tile span {
  height: 5em;
  display: table-cell;
  vertical-align: middle;
}

.day-tile:hover {
  background-color: #34495e;
  color: white;
  font-size: 1em;
}
