.image-uploads {
  border: dashed #bdc3c7;
  margin: 2em;
  height: 5em;
  text-align: center;
  padding: 1em;
}

.image-large {
  background-color: #bdc3c7;
  text-align: center;
  padding: 1em;
}

.image-large img {
  max-height: 25em;
}

div.image-tile {
  padding: .5em;
  float: left;
  height: 8em;
}

div.image-tile:hover {
  background-color: #bdc3c7;
}

div.image-tile img {
  max-height: 7em;
}

.delete-image {
  width: 12em;
  padding: .15em;
  margin: .5em auto;
}
